{% extends 'base.html' %}

{% block content %}
<div class="container">
    <ol class="breadcrumb my-4">
        {% block boards_breadcrumb %}
        {% endblock %}
    </ol>
    {% block boards_content %}
    {% endblock %}
</div>
{% endblock %}
