{% extends "cars/cars_base.html" %}
{% load static django_bootstrap_breadcrumbs %}

{% block title %}Car: {{ object.car }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Cars" "cars:list" %}
    {% breadcrumb object.car "cars:detail" object.id %}
    {% breadcrumb "View" "edit" %}
{% endblock %}

{% block content %}
    <dl class="row">
        <dt class="col-sm-3" style="text-align: right">Производитель</dt>
        <dd class="col-sm-9">
            {{ object.car.manufacturer }}
        </dd>
        <dt class="col-sm-3" style="text-align: right">Марка</dt>
        <dd class="col-sm-9">
            {{ object.car.model }}
        </dd>
        <dt class="col-sm-3" style="text-align: right">Тип топлива</dt>
        <dd class="col-sm-9">
            {{ object.car.fuel_type }}
        </dd>
        <dt class="col-sm-3" style="text-align: right">Марка топлива</dt>
        <dd class="col-sm-9">
            {{ object.car.get_grade_of_fuel }}
        </dd>
    </dl>
{% endblock content %}
