{% extends "cars/cars_base.html" %}
{% load static i18n django_bootstrap_breadcrumbs %}
{% block title %}Cars{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Cars" "cars:list" %}
    {% breadcrumb "All" "cars:list" %}
{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-sm">
            <thead class="thead-default">
                <tr>
                    <th>#</th>
                    <th>Manufacturer</th>
                    <th>Model</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for car in object_list %}
                <tr>
                    <th scope="row">
                        {{ forloop.counter }}
                    </th>
                    <td>
                        {{ car.car.manufacturer }}
                    </td>
                    <td>
                        {{ car.car.model }}
                    </td>
                    <td>
                        <a href="{% url 'cars:detail' car.id %}" role="button" class="btn btn-outline-info btn-sm">
                            Подробнее
                        </a>
                    </td>
                    <td>
                        <a role="button" class="btn btn-outline-info btn-sm" href="{% url 'cars:fuel_list' car.id %}">fuel list</a>
                        <a role="button" class="btn btn-outline-info btn-sm" href="{% url 'cars:fuel_add' car.id %}">add fuel</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot class="thead-default">
                <tr>
                    <th colspan="4">&nbsp;</th>
                    <th>
                        <a role="button" class="btn btn-outline-info btn-sm" href="{% url 'cars:fuel_list' %}">All fuel list</a>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
{% endblock content %}
