{% extends 'cars/cars_base.html' %}


{% block content %}
    <div class="row">
        <a role="button" class="btn btn-primary" href="{% if car_id %}{% url 'cars:fuel_add' car_id %}{% else %}{% url 'cars:fuel_add' %}{% endif %}">Add</a>
    </div>
    <div class="row">
        <table class="table table-sm">
            <thead class="thead-default">
                <tr>
                    <th>#</th>
                    <th>Date</th>
                    <th>Car</th>
                    <th>Count</th>
                    <th>Cost</th>
                    <th>Total cost</th>
                </tr>
            </thead>
            <tbody>
                {% for fuel in object_list %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ fuel.date }}</td>
                        <td>{{ fuel.car.car }}</td>
                        <td>{{ fuel.count }}</td>
                        <td>{{ fuel.cost }}</td>
                        <td>{{ fuel.total_cost }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            {% if aggregate %}
                <tfoot class="thead-default">
                    <tr>
                        <td>#</td>
                        <td colspan="2">Total</td>
                        <td>{{ aggregate.count }}</td>
                        <td></td>
                        <td>{{ aggregate.total }}</td>
                    </tr>
                </tfoot>
            {% endif %}
        </table>
    </div>
{% endblock %}
